<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
  <style>
      body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}

/* Full-width input fields */
input[type=text], input[type=password] {
    /* ширина полей формы */
    width: 50%;

    /* величина полей */
    padding: 5px;

    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}
/* Ширина кнопок регистрации и отмены
 Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;

  width: 35%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}
</style>
  </head>


<body>

    <h1>Регистрация аккаунта: </h1>

<form action="/contact" method="POST" style="border:1px solid #ccc">
  <div class="container">

    <label for="login"><b>Логин</b></label>
    <br>
    <input type="text" placeholder="Введите пользователя" name="login"
    value="<%= @login %>" required>

    <br>
    <label for="email"><b>Почта</b></label>
    <br>
    <input type="text" placeholder="Введите почту" name="email"
    value="<%= @login %>" required>
    <br>

    <label for="phone"><b>Телефон</b></label>
    <br>
    <input type="text" placeholder="Введите пользователя" name="phone"
    value="<%= @phone %>" required>
    <br>

    <label for="date"><b>Время</b></label>
    <br>
    <input type="date" placeholder="Введите сегодняшнюю дату" name="date"
    value="<%= @date %>" required>
    <br>

    <label>
      <br>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px">
      Запомнить меня
    </label>
    <br>
    <p>Создавая учетную запись, вы соглашаетесь с нашими условиями<a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

    <div class="clearfix">
      <button type="button" class="cancelbtn">Отмена</button>
      <button type="submit" class="signupbtn">Регистрация</button>
    </div>

  </div>
</form>
<br>
<a href="/">back</a>
</body>

</html>
