<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome</h1>

<table border="1">


    <tr ><td></td></tr>
	<% @users.each do |line| %>
  	<tr><td><%= line %></td></tr>

		<% end %>
	<tr ><td></td></tr>
</table>


<table border="1">


    <tr ><td></td></tr>
	<% @messages.each do |line| %>
  	<tr><td><%= line %></td></tr>

		<% end %>
	<tr ><td></td></tr>
</table>

  </body>
</html>
